<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">Create user</a>
    </div>
    <table>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>City</th>
        <th>Actions</th>
      </tr>
      <% for (var i = 0; i < listUsers.length; i++) { %>
        <tr>
          <td><%= listUsers[i].id %></td>
          <td><%= listUsers[i].email %></td>
          <td><%= listUsers[i].name %></td>
          <td><%= listUsers[i].city %></td>
          <td>
            <button style="padding: 10px 20px; margin: 10px">
              <a href="/edit-user/<%= listUsers[i].id %>">Edit</a>
            </button>
            <button style="padding: 10px 20px;">
              <a href="/delete-user/<%= listUsers[i].id %>">Delete</a>
            </button>
          </td>
  
  
        </tr>
      <% } %>
      
      
    </table>
    
  </body>
</html>
